* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font: 'Roboto', sans-serif;
    --white-color: #fff;
    --black-color: #000;
    --red-color: #ee4248;
    --header-link-color: rgba(31, 46, 53, 0.8);
}

html,
body,
.wrapper {
    width: 100%;
    height: 100%;
}

.wrapper {
    font-family: var(--font);
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
}

a {
    text-decoration: none;
    font-family: inherit;
    color: inherit;
}

button {
    background-color: transparent;
    border: none;
    color: inherit;
    font-family: inherit;
    cursor: pointer;
}

ul,
ol,
li {
    list-style: none;
}

.container {
    width: 100%;
    max-width: 1165px;
    padding: 0 20px;
    margin: 0 auto;
}

/* HEADER - START */

.header {
    padding: 20px 0;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.25);
    background-color: var(--white-color);
}

.header-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-mobile {
    display: none;
}

.header-link {
    font-family: var(--font);
    font-weight: 400;
    font-size: 18px;
    color: var(--header-link-color);
    transition: all 0.2s ease;
}

.header-link:not(:last-child) {
    margin-right: 50px;
}

.header-link:hover {
    color: var(--red-color);
}

.header-link.active {
    font-weight: 700;
}

.header-buttons {
    display: flex;
    column-gap: 24px;
}

.header-button path {
    transition: all 0.2s ease-in;
}

.header-button:hover path {
    fill: var(--red-color);
}
/* HEADER - END */

/* MEDIA - QUERIES - START */

@media screen and (max-width: 950px) {
    .header-link {
        font-size: 16px;
    }

    .header-link:not(:last-child) {
        margin-right: 25px;
    }

    .header-buttons {
        column-gap: 12px;
    }
}

@media screen and (max-width: 768px) {
    .header {
        padding: 12px 0;
    }
    .header-nav,
    .header-buttons {
        display: none;
    }

    .header-mobile {
        display: block;
    }
}

/* MEDIA - QUERIES - END */
